*.project
*.classpath
/bin/
/tests/
/target/
.idea
/examples/dfas
/src/main/java/comparison/*.class
/src/main/java/constraints/definitions/.metadata
/src/main/java/constraints/definitions/*.class
/src/main/java/constraints/implementations/*.class
/comparedeclaremodels.iml
/examples/models/test1 Kopie.txt
/src/main/java/constraints/exceptions/ConstraintGenerationException.class
/src/main/java/constraints/exceptions/ModelGenerationException.class
/src/main/java/constraints/generation/ConstraintDFAGenerator.class
/src/main/java/data/algorithms/DFAAlgorithms.class
/src/main/java/data/algorithms/DFACompletion.class
/src/main/java/data/algorithms/DFAMinimization.class
/src/main/java/data/algorithms/DFAProduct.class
/src/main/java/data/algorithms/util/DFAUtil.class
/src/main/java/data/algorithms/util/PDFALanguageType.class
/src/main/java/data/algorithms/util/SetOperations.class
/src/main/java/data/automaton/definitions/Alphabet.class
/src/main/java/data/automaton/definitions/DFA.class
/src/main/java/data/automaton/definitions/State.class
/src/main/java/data/automaton/definitions/Symbol.class
/src/main/java/data/automaton/implementations/AutomatonFactory.class
/src/main/java/data/automaton/implementations/SimpleAlphabet.class
/src/main/java/data/automaton/implementations/SimpleDFA.class
/src/main/java/data/automaton/implementations/SimpleState.class
/src/main/java/data/automaton/implementations/SimpleSymbol.class
/src/main/java/data/exceptions/DFASEqualException.class
/src/main/java/data/exceptions/NoSuchEdgeException.class
/src/main/java/data/math/definitions/BinaryTuple.class
/src/main/java/data/math/definitions/Function.class
/src/main/java/data/math/definitions/Relation.class
/src/main/java/data/math/definitions/TransitionFunction.class
/src/main/java/data/math/definitions/Tuple.class
/src/main/java/data/math/exceptions/OutOfCodomainException.class
/src/main/java/data/math/exceptions/OutOfDomainException.class
/src/main/java/data/math/implementations/MathFactory.class
/src/main/java/data/math/implementations/SimpleBinaryTuple.class
/src/main/java/data/math/implementations/SimpleFunction.class
/src/main/java/data/math/implementations/SimpleRelation.class
/src/main/java/data/math/implementations/SimpleTransitionFunction.class
/src/main/java/data/math/implementations/SimpleTuple.class
/src/main/java/data/regex/definitions/Regex.class
/src/main/java/data/regex/definitions/RegexDFA.class
/src/main/java/data/regex/implementations/FastRegexDFA.class
/src/main/java/data/regex/implementations/RegexDFAFactory.class
/src/main/java/data/regex/implementations/SimpleRegexDFA.class
/src/main/java/data/regex/implementations/subclasses/AlternationRegex.class
/src/main/java/data/regex/implementations/subclasses/ConcatenationRegex.class
/src/main/java/data/regex/implementations/subclasses/EmptySetRegex.class
/src/main/java/data/regex/implementations/subclasses/EmptyWordRegex.class
/src/main/java/data/regex/implementations/subclasses/KleeneStarRegex.class
/src/main/java/data/regex/implementations/subclasses/SymbolRegex.class
/src/main/java/io/exceptions/JSONParserException.class
/src/main/java/io/exceptions/ModelParserException.class
/src/main/java/io/interfaces/ComparisonOutputWriter.class
/src/main/java/io/output/InformationOutputWriter.class
/src/main/java/io/output/TerminalComparisonOutputWriter.class
/src/main/java/io/parser/JsonDFAElement.class
/src/main/java/io/parser/JsonDFAParser.class
/src/main/java/io/parser/JsonDFAWriter.class
/src/main/java/io/parser/ModelParser.class
/src/main/java/main/ModelComparator.class
/src/main/java/main/TestMain.class
/src/main/resources/examples/dfas/atLeast2.json
